/* This is referred [this](http://blog.ngopal.com.np/2012/07/11/customize-scrollbar-via-css/), and translated to scss */

.mylistview {
    -fx-border: {
        color: derive(gray, 80%);
    }
    // The increment and decrement button CSS class of scrollbar
    .increment-button,
    .decrement-button {
        -fx-background: {
            color: transparent;
        }
        -fx-border: {
            color: derive(gray, 80%);
        }
        &:hover,
        &:pressed {
            -fx-background: {
                color: derive(gray, 100%);
            }
            -fx-border: {
                color: derive(gray, 80%);
            }
            -fx-padding:10px;
        }
    }
    .scroll-bar {
        // The main scrollbar **track** CSS class 
        .track {
            -fx-background: {
                color: transparent;
                radius: 0em;
            }
            -fx-border: {
                color: transparent;
                radius: 2em;
            }
        }
        // The main scrollbar **thumb** CSS class which we drag every time (movable)
        .thumb {
            -fx-background: {
                color: derive(black, 90%);
                insets: 2, 0, 0;
                radius: 2em;
            }
        }
        .increment,
        .decrement {
            &-arrow {
                -fx-shape: " ";
                -fx-padding: 0;
            }
        }
        &:horizontal {
            .increment,
            .decrement {
                &-button {
                    -fx-background: {
                        color: transparent;
                        radius: 0em;
                    }
                    -fx-padding: 0 0 5 0;
                }
            }
        }
        &:vertical {
            .increment,
            .decrement {
                &-button {
                    -fx-background: {
                        color: transparent;
                        radius: 0em;
                    }
                    -fx-padding: 0 5 0 0;
                }
            }
        }
        &:hover,
        &:pressed {
            // The main scrollbar **track** CSS class on event of "hover" and "pressed"
            .track {
                -fx-background: {
                    color: derive(#434343, 20%);
                    radius: 0em;
                }
                -fx-opacity: 0.2;
            }
            .thumb {
                -fx-background: {
                    color: derive(black, 50%);
                }
            }
        }
    }
}
