.mylistview {
  -fx-border-color: derive(gray, 80%);
}

.mylistview .scroll-bar:horizontal,
.mylistview .scroll-bar:vertical {
  -fx-background-color: transparent;
}

.mylistview .scroll-bar:horizontal .track,
.mylistview .scroll-bar:vertical .track {
  -fx-background-color: transparent;
  -fx-background-radius: 0em;
  -fx-border-color: derive(gray, 80%);
}

.mylistview .scroll-bar:horizontal:hover .track,
.mylistview .scroll-bar:horizontal:pressed .track,
.mylistview .scroll-bar:vertical:hover .track,
.mylistview .scroll-bar:vertical:pressed .track {
  -fx-background-color: derive(#434343, 20%);
  -fx-background-radius: 0em;
  -fx-opacity: 0.2;
}

.mylistview .scroll-bar:horizontal .thumb,
.mylistview .scroll-bar:vertical .thumb {
  -fx-background-color: derive(black, 90%);
  -fx-background-insets: 0, 0, 0;
  -fx-background-radius: 0em;
}

.mylistview .scroll-bar .thumb:hover,
.mylistview .scroll-bar .thumb:pressed {
  -fx-background-color: derive(black, 50%);
}

.mylistview .increment-button,
.mylistview .decrement-button {
  -fx-background-color: transparent;
  -fx-border-color: derive(gray, 80%);
}

.mylistview .increment-button:hover,
.mylistview .decrement-button:hover {
  -fx-background-color: derive(gray, 100%);
  -fx-border-color: derive(gray, 80%);
  -fx-padding: 10px;
}
