/* This is referred [this](http://blog.ngopal.com.np/2012/07/11/customize-scrollbar-via-css/), and translated to scss */
.mylistview {
  -fx-border-color: derive(gray, 80%);
}
.mylistview .increment-button,
.mylistview .decrement-button {
  -fx-border-color: derive(gray, 80%);
}
.mylistview .increment-button:hover, .mylistview .increment-button:pressed,
.mylistview .decrement-button:hover,
.mylistview .decrement-button:pressed {
  -fx-background-color: derive(gray, 100%);
  -fx-border-color: derive(gray, 80%);
  -fx-padding: 10px;
}
.mylistview .scroll-bar:horizontal .track, .mylistview .scroll-bar:vertical .track {
  -fx-background-color: transparent;
  -fx-background-radius: 0em;
  -fx-border-color: derive(gray, 80%);
}
.mylistview .scroll-bar:horizontal .thumb, .mylistview .scroll-bar:vertical .thumb {
  -fx-background-color: derive(black, 90%);
  -fx-background-insets: 0, 0, 0;
  -fx-background-radius: 0em;
}
.mylistview .scroll-bar:horizontal:hover .track, .mylistview .scroll-bar:horizontal:pressed .track, .mylistview .scroll-bar:vertical:hover .track, .mylistview .scroll-bar:vertical:pressed .track {
  -fx-background-color: derive(#434343, 20%);
  -fx-background-radius: 0em;
  -fx-opacity: 0.2;
}
.mylistview .scroll-bar:horizontal:hover .thumb, .mylistview .scroll-bar:horizontal:pressed .thumb, .mylistview .scroll-bar:vertical:hover .thumb, .mylistview .scroll-bar:vertical:pressed .thumb {
  -fx-background-color: derive(black, 50%);
}
