/* This is referred [this](http://blog.ngopal.com.np/2012/07/11/customize-scrollbar-via-css/), and translated to scss */

.mylistview {
    -fx-border: {
        color: derive(gray, 80%);
    }
}

/* The main scrollbar CSS class of ListView */
.mylistview .scroll-bar:horizontal,
.mylistview .scroll-bar:vertical {
    -fx-background: {
        color: transparent;
    }
}

/* The main scrollbar **track** CSS class  */
.mylistview .scroll-bar:horizontal .track,
.mylistview .scroll-bar:vertical   .track {
    -fx-background: {
        color: transparent;
        radius: 0em;
    }
    -fx-border: {
        color: derive(gray, 80%);
    }
}

/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */
.mylistview .scroll-bar:horizontal:hover   .track,
.mylistview .scroll-bar:horizontal:pressed .track,
.mylistview .scroll-bar:vertical:hover     .track,
.mylistview .scroll-bar:vertical:pressed   .track {
    -fx-background: {
        color: derive(#434343, 20%);
        radius: 0em;
    }
    -fx-opacity: 0.2;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.mylistview .scroll-bar:horizontal .thumb,
.mylistview .scroll-bar:vertical   .thumb {
    -fx-background: {
        color: derive(black, 90%);
        insets: 0, 0, 0;
        radius: 0em;
    }
}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
.mylistview .scroll-bar .thumb:hover,
.mylistview .scroll-bar .thumb:pressed {
    -fx-background: {
        color: derive(black, 50%)
    }
}

/* The increment and decrement button CSS class of scrollbar */
.mylistview .increment-button,
.mylistview .decrement-button {
    -fx-background: {
        color: transparent;
    }
    -fx-border: {
        color: derive(gray, 80%);
    }
}

.mylistview .increment-button:hover,
.mylistview .decrement-button:hover {
    -fx-background: {
        color: derive(gray, 100%);
    }
    -fx-border: {
        color: derive(gray, 80%);
    }
    -fx-padding:10px;
}
